<header data-advancedhtml="" role="banner" class="header" id="b1-Header2">
  <div data-container="" class="ThemeGrid_Container">
    <div data-container="" class="header-topbar" id="b1-HeaderTopBar">
      <div data-block="AA_Common.LoadHTML" class="OSBlockWidget" id="b1-$b1">
        <div data-container="" id="b1-b1-HTMLWrapper">
          <div data-container="" class="cf-header padding-y-xs">
            <div data-block="Adaptive.ColumnsMediumRight" class="OSBlockWidget" id="b1-$b1">
              <div data-container=""
                class="columns columns-medium-right gutter-base tablet-break-none phone-break-none font-size-xs align-items-center">
                <div class="columns-item" id="b1-b1-Column1">
                  <div data-list="" class="list list-group OSFillParent">
                    <div data-container="" class="cf-header__usp margin-right-base display-inline-flex three-usps"
                      style="padding: 0px;">
                      <div data-block="CustomPatterns.IconPlus" class="OSBlockWidget" id="b1-l1-19_0-$b2">
                        <div data-container="" class="display-inline-flex"><i data-advancedhtml=""
                            class="icon-plus icon-plus-check text-primary"></i></div>
                      </div>
                      <div data-block="StaticContent.LinkWrapper_Web" class="OSBlockWidget" id="b1-l1-19_0-$b3"><a
                          data-link="" class="cf-link-wrapper-web " href="https://ecop.plus.nl/bestellen/bezorgen"
                          target="" alt="" id="b1-l1-19_0-b3-LinkElement">
                          <div class="cf-link-wrapper-web__content" id="b1-l1-19_0-b3-LinkWrapper"><span
                              data-expression="" class="margin-left-xs font-size-xs text-neutral-7">Google</span></div>
                        </a></div>
                    </div>
                  </div>
                </div>
                <div class="columns-item" id="b1-b1-Column2">
                  <div data-container="" class="text-align-right">
                    <div data-list="" data-virtualization-disabled=""
                      class="list list-group display-flex justify-content-flex-end OSFillParent"
                      disable-virtualization="True">
                      <div data-container="" class="cf-header__quick-link margin-left-base OSInline"
                        style="padding: 0px;">
                        <div data-block="StaticContent.LinkWrapper_Web" class="OSBlockWidget" id="b1-l2-20_0-$b4"><a
                            data-link="" class="cf-link-wrapper-web " href="https://ecop.plus.nl/folder" target=""
                            alt="" id="b1-l2-20_0-b4-LinkElement">
                            <div class="cf-link-wrapper-web__content" id="b1-l2-20_0-b4-LinkWrapper"><span
                                data-expression="" class="font-size-xs">Folder</span></div>
                          </a></div>
                      </div>
                      <div data-container="" class="cf-header__quick-link margin-left-base OSInline"
                        style="padding: 0px;">
                        <div data-block="StaticContent.LinkWrapper_Web" class="OSBlockWidget" id="b1-l2-20_1-$b4"><a
                            data-link="" class="cf-link-wrapper-web " href="/supermarkten" target="" alt=""
                            id="b1-l2-20_1-b4-LinkElement">
                            <div class="cf-link-wrapper-web__content" id="b1-l2-20_1-b4-LinkWrapper"><span
                                data-expression="" class="font-size-xs">Winkels</span></div>
                          </a></div>
                      </div>
                      <div data-container="" class="cf-header__quick-link margin-left-base OSInline"
                        style="padding: 0px;">
                        <div data-block="StaticContent.LinkWrapper_Web" class="OSBlockWidget" id="b1-l2-20_2-$b4"><a
                            data-link="" class="cf-link-wrapper-web " href="https://ecop.plus.nl/consumentenservice"
                            target="" alt="" id="b1-l2-20_2-b4-LinkElement">
                            <div class="cf-link-wrapper-web__content" id="b1-l2-20_2-b4-LinkWrapper"><span
                                data-expression="" class="font-size-xs">Klantenservice</span></div>
                          </a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div data-container="" class="header-top">
    <div data-container="" class="header-content ThemeGrid_Container display-flex ">
      <div data-container="" class="menu-icon menu-icon-line" aria-label="Toggle the Menu" role="button" tabindex="0"
        aria-haspopup="true" style="cursor: pointer;"><span class="menu-icon-label">MENU</span></div><a data-link=""
        href="/" alt="Plus">
        <div data-container=""
          class="layout-application-title application-name display-flex align-items-center margin-right-l full-height gtm-application-logo"
          id="b1-ApplicationTitleWrapper"></div>
      </a>
      <div data-container=""
        class="header-navigation columns columns-medium-right gutter-none tablet-break-none phone-break-all  align-items-center"
        id="b1-Header">
        <div data-container="" class="columns-item header-navigation-right center-right display-flex full-height">
          <button data-button="" class="btn login-button gtm-open-login" type="button">
            <div data-block="CustomPatterns.IconPlus" class="OSBlockWidget" id="b1-$b7">
              <div data-container="" class="display-inline-flex"><i data-advancedhtml=""
                  class="icon-plus icon-plus-account-logout icon-lg font-size-h4"></i></div>
            </div><span data-expression="" class="margin-left-base no-wrap">Login</span>
          </button>
          <div data-container="" class="margin-left-base OSInline">
            <div data-block="Cart.CartBadge" class="OSBlockWidget" id="b1-$b8"><a aria-current="page"
                class="gtm-header-cart-link cart-badge-link active" data-link="" href="/winkelwagen">
                <div data-container="" class="icon-badge cart-badge badge-hide-number">
                  <div data-container="">
                    <div data-block="CustomPatterns.IconPlus" class="OSBlockWidget" id="b1-b8-$b1">
                      <div data-container="" class="display-inline-flex"><i data-advancedhtml=""
                          class="icon-plus icon-plus-cart"></i></div>
                    </div><span data-expression="" class="cart-badge-price margin-left-s">0.00</span>
                  </div>
                  <div data-container="" class="badge background-red"><span data-expression="">0</span></div>
                </div>
              </a><!--<span data-expression="" class="sr-only" aria-hidden="True">0</span>--></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div data-container="" class="ThemeGrid_Container header-menubar-wrapper">
    <div data-container="" class="ph header-menubar padding-top-base" id="b1-HeaderMenuBar">
      <div data-block="Adaptive.ColumnsMediumRight" class="OSBlockWidget" id="b1-$b9">
        <div data-container=""
          class="columns columns-medium-right gutter-base tablet-break-none phone-break-none align-items-center menu-wrapper">
          <div class="columns-item" id="b1-b9-Column1">
            <div data-block="AA_Common.Menu" class="OSBlockWidget" id="b1-$b10">
              <nav data-advancedhtml="" class="app-menu-content display-flex gtm-navigation-menu" role="navigation">
                <div data-container="" class="app-menu-header">
                  <div data-container="" class="app-menu-header--title"><span data-expression="">Menu</span></div>
                  <div data-container="" class="app-menu-header--close OSInline"><a data-link="" href="#">
                      <div data-block="CustomPatterns.IconPlus" class="OSBlockWidget" id="b1-b10-$b1">
                        <div data-container="" class="display-inline-flex"><i data-advancedhtml=""
                            class="icon-plus icon-plus-close"></i></div>
                      </div>
                    </a></div>
                </div>
                <div data-container="" class="app-menu-links" role="menubar" id="b1-b10-PageLinks">
                  <div data-container="" class="global-links-wrapper ">
                    <div data-container="" class="menu-links" id="b1-b10-MenuLinksContainer">
                      <div data-container="" class="link-wrapper">
                        <div data-block="Navigation.Submenu" class="OSBlockWidget" id="b1-b10-ProductsSubmenu">
                          <div data-container="" class="osui-submenu products-submenu osui-submenu--is-dropdown"
                            name="0.xfcc8wpav7" id="b1-b10-b2-Submenu">
                            <div data-container="" class="osui-submenu__header needsclick" id="b1-b10-b2-SubMenuHeader"
                              aria-haspopup="true" tabindex="0" aria-controls="b1-b10-b2-Items" role="button"
                              aria-expanded="false">
                              <div class="osui-submenu__header__item" id="b1-b10-b2-Menu" (click)="navigate('/search')">
                                Producten</div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </nav>
            </div>
          </div>
          <div class="columns-item" id="b1-b9-Column2">
            <div data-block="StoreFlow.StoreInfoDropdown" class="OSBlockWidget" id="b1-$b11">
              <div data-container="" class="header-store-info-wrapper gtm-store-info-popover">
                <div data-block="PL_PopperJS.Popper" class="OSBlockWidget" id="b1-b11-Popper">
                  <div data-container="" class="popper-relative">
                    <div data-container="" class="popper-wrapper OSInline" id="b1-b11-b1-PopperItemWrapper">
                      <div class="popper-item OSInline" data-popper-item="closed" id="b1-b11-b1-PopperItem">
                        <div data-block="CustomPatterns.IconPlus" class="OSBlockWidget" id="b1-b11-$b2">
                          <div data-container="" class="display-inline-flex"><i data-advancedhtml=""
                              class="icon-plus icon-plus-location"></i></div>
                        </div><span class="margin-left-xs">Choose your store</span>
                        <div data-block="CustomPatterns.IconPlus" class="OSBlockWidget" id="b1-b11-$b3">
                          <div data-container="" class="display-inline-flex"><i data-advancedhtml=""
                              class="icon-plus icon-plus-arrow-down font-size-xs margin-left-s"></i></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>