<header class="header">
  <div class="header-topbar">
    <div class="display-flex justify-content-space-between align-items-center padding-y-xs">
      <a href="/home"><span class="margin-left-xs font-size-xs text-neutral-7">Google</span></a>
      <div class="display-flex">
        <a href="/home" class="margin-left-base"><span class="margin-left-xs font-size-xs text-neutral-7">Google</span></a>
        <a href="/home" class="margin-left-base"><span class="margin-left-xs font-size-xs text-neutral-7">Folder</span></a>
        <a href="/home" class="margin-left-base"><span class="margin-left-xs font-size-xs text-neutral-7">Supermarkten</span></a>
      </div>
    </div> 
  </div>
  <div class="header-top">
    <div class="header-content display-flex">
      <a href="/">
        <div class="layout-application-title display-flex align-items-center margin-right-l full-height"></div>
      </a>
      <div class="header-navigation display-flex justify-content-space-between">
        <div class="flex2">
          <div class="search-input">
            <div class="header-search-wrapper">
              <input animated="true" show-clear-button="focus" aria-label="search" class="search-input" placeholder="Search">
            </div>
          </div>
        </div>
        <div class="flex1 header-navigation-right center-right display-flex"></div>
      </div>
    </div>
  </div>
</header>