<div class="onboarding-start-layout">
  <div class="onboarding-start-wrapper">
    <div class="onboarding-start-top">
      <div class="align-items-center display-flex flex-direction-column">
        <ion-img src="../../../assets/images/ECP_Mobile_Assets.plus_logo_spash.svg" class="ion-align-self-end"></ion-img>
        <span class="font-bold">Goed eten. Daar houden we van.</span>
      </div>  
    </div>
    <div class="onboarding-start-bottom">
      <div class="onboarding-options">
        <div class="onboarding-options-buttons">
          <ion-button class="btn btn-primary margin-bottom-base" routerLink="/home">Inloggen</ion-button>
          <ion-button class="btn margin-bottom-base" routerLink="/home">Registreren</ion-button>
          <a class="font-semi-bold">Eerst even rondkijken</a>
        </div>
      </div>
    </div>
  </div>
</div>
