// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #80bd1d;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-background-color: #f5f5f5;

  --ion-font-family: 'Gotham';

  --font-size-base: 16px;
  --font-size-s: 14px;
  --font-size-xs: 12px;

  /*Spaces*/
  --space-none: 0px;
  --space-xs: 4px;
  --space-s: 8px;
  --space-base: 16px;
  --space-m: 24px;
  --space-l: 32px;
  --space-xl: 40px;
  --space-xxl: 48px;

  /*Borders*/
  --border-size-none: 0;
  --border-size-s: 1px;
  --border-size-m: 2px;
  --border-size-l: 3px;

  /*Color*/
  --text-color-neutral-5: #999999;
}



@font-face {
  font-family: 'Gotham';
  src: url('../assets/fonts/Gotham-Book.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../assets/fonts/Gotham-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../assets/fonts/Gotham-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

html {
  /* 
   * For more information on dynamic font scaling, visit the documentation:
   * https://ionicframework.com/docs/layout/dynamic-font-scaling
   */
  --ion-dynamic-font: var(--ion-default-dynamic-font);
  font-weight: 400;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: white;
}

.button {
  font-weight: 500;
  font-size: var(--font-size-base);
  height: 48px;
  border-radius: 48px;
  border-bottom-left-radius: 16px;
  border: var(--border-size-s) solid currentColor;
}
.btn{
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  background-color:var(--color-neutral-0);
  border:var(--border-size-s) solid currentColor;
  border-radius:var(--border-radius-soft);
  color:var(--color-primary);
  cursor:pointer;
  display:-webkit-inline-box;
  display:-ms-inline-flexbox;
  display:inline-flex;
  -webkit-filter:brightness(1);
          filter:brightness(1);
  font-weight:var(--font-semi-bold);
  height:40px;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  line-height:1;
  margin:0;
  padding:var(--space-none) var(--space-base);
  -webkit-transition:all 100ms linear;
  -o-transition:all 100ms linear;
  transition:all 100ms linear;
}
.btn:hover:active{
  -webkit-filter:brightness(0.8);
          filter:brightness(0.8);
}
.btn[class*=background-]{
  border:var(--border-size-s) solid transparent;
  color:var(--color-neutral-0);
}
.btn[class*=text-]{
  background-color:var(--color-neutral-0);
  border:var(--border-size-s) solid currentColor;
}
.btn + .btn{
  margin-left:var(--space-m);
}
.btn-primary{
  background-color:var(--color-primary);
  border:var(--border-size-s) solid var(--color-primary);
  color:var(--color-neutral-0);
}

.btn-primary {
  background-color: var(--ion-color-primary);
  border: var(--border-size-s) solid var(--ion-color-primary);
  color: white;
}

ion-button {
  --background: unset;
}

.bottom-bar ion-icon {
  font-size: 26px
}

.bottom-bar .active-link {
  color: green;
}

.margin-bottom-base {
  margin-bottom: var(--space-base);
}

.ion-safe-bottom {
  padding-bottom: var(--ion-safe-area-bottom);
}

ion-toolbar {
  --background: white;
}


/*Utility classes*/
/*! Usefull - Colors Brand */
.background-primary {
  background-color: var(--color-primary);
}

.background-primary-lightest {
  background-color: var(--color-neutral-0);
}

.background-secondary {
  background-color: var(--color-secondary);
}

.background-secondary-lightest {
  background-color: var(--color-neutral-0);
}

.text-primary,
.text-primary-darker {
  color: var(--color-primary);
}

.text-secondary,
.text-secondary-darker {
  color: var(--color-secondary);
}

/*! Usefull - Colors Neutral */
.background-neutral-0 {
  background-color: var(--color-neutral-0);
}

.background-neutral-0-lightest {
  background-color: var(--color-neutral-9);
}

.background-neutral-1 {
  background-color: var(--color-neutral-1);
}

.background-neutral-1-lightest {
  background-color: var(--color-neutral-9);
}

.background-neutral-2 {
  background-color: var(--color-neutral-2);
}

.background-neutral-2-lightest {
  background-color: var(--color-neutral-9);
}

.background-neutral-3 {
  background-color: var(--color-neutral-3);
}

.background-neutral-3-lightest {
  background-color: var(--color-neutral-9);
}

.background-neutral-4 {
  background-color: var(--color-neutral-4);
}

.background-neutral-4-lightest {
  background-color: var(--color-neutral-9);
}

.background-neutral-5 {
  background-color: var(--color-neutral-5);
}

.background-neutral-5-lightest {
  background-color: var(--color-neutral-0);
}

.background-neutral-6 {
  background-color: var(--color-neutral-6);
}

.background-neutral-6-lightest {
  background-color: var(--color-neutral-0);
}

.background-neutral-7 {
  background-color: var(--color-neutral-7);
}

.background-neutral-7-lightest {
  background-color: var(--color-neutral-0);
}

.background-neutral-8 {
  background-color: var(--color-neutral-8);
}

.background-neutral-8-lightest {
  background-color: var(--color-neutral-0);
}

.background-neutral-9 {
  background-color: var(--color-neutral-9);
}

.background-neutral-9-lightest {
  background-color: var(--color-neutral-0);
}

.background-neutral-10 {
  background-color: var(--color-neutral-10);
}

.background-neutral-10-lightest {
  background-color: var(--color-neutral-0);
}

.text-neutral-0 {
  color: var(--color-neutral-0);
}

.text-neutral-1 {
  color: var(--color-neutral-1);
}

.text-neutral-2 {
  color: var(--color-neutral-2);
}

.text-neutral-3 {
  color: var(--color-neutral-3);
}

.text-neutral-4 {
  color: var(--color-neutral-4);
}

.text-neutral-5 {
  color: var(--color-neutral-5);
}

.text-neutral-5-darker {
  color: var(--color-neutral-5);
}

.text-neutral-6 {
  color: var(--color-neutral-6);
}

.text-neutral-6-darker {
  color: var(--color-neutral-6);
}

.text-neutral-7 {
  color: var(--color-neutral-7);
}

.text-neutral-7-darker {
  color: var(--color-neutral-7);
}

.text-neutral-8 {
  color: var(--color-neutral-8);
}

.text-neutral-8-darker {
  color: var(--color-neutral-8);
}

.text-neutral-9 {
  color: var(--color-neutral-9);
}

.text-neutral-9-darker {
  color: var(--color-neutral-9);
}

.text-neutral-10 {
  color: var(--color-neutral-10);
}

.text-neutral-10-darker {
  color: var(--color-neutral-10);
}

/*! Usefull - Colors Palette */
.background-red-lightest {
  background-color: var(--color-red-lightest);
}

.background-red-lighter {
  background-color: var(--color-red-lighter);
}

.background-red-light {
  background-color: var(--color-red-light);
}

.background-red {
  background-color: var(--color-red);
}

.background-red-dark {
  background-color: var(--color-red-dark);
}

.background-red-darker {
  background-color: var(--color-red-darker);
}

.background-red-darkest {
  background-color: var(--color-red-darkest);
}

.background-orange-lightest {
  background-color: var(--color-orange-lightest);
}

.background-orange-lighter {
  background-color: var(--color-orange-lighter);
}

.background-orange-light {
  background-color: var(--color-orange-light);
}

.background-orange {
  background-color: var(--color-orange);
}

.background-orange-dark {
  background-color: var(--color-orange-dark);
}

.background-orange-darker {
  background-color: var(--color-orange-darker);
}

.background-orange-darkest {
  background-color: var(--color-orange-darkest);
}

.background-yellow-lightest {
  background-color: var(--color-yellow-lightest);
}

.background-yellow-lighter {
  background-color: var(--color-yellow-lighter);
}

.background-yellow-light {
  background-color: var(--color-yellow-light);
}

.background-yellow {
  background-color: var(--color-yellow);
}

.background-yellow-dark {
  background-color: var(--color-yellow-dark);
}

.background-yellow-darker {
  background-color: var(--color-yellow-darker);
}

.background-yellow-darkest {
  background-color: var(--color-yellow-darkest);
}

.background-lime-lightest {
  background-color: var(--color-lime-lightest);
}

.background-lime-lighter {
  background-color: var(--color-lime-lighter);
}

.background-lime-light {
  background-color: var(--color-lime-light);
}

.background-lime {
  background-color: var(--color-lime);
}

.background-lime-dark {
  background-color: var(--color-lime-dark);
}

.background-lime-darker {
  background-color: var(--color-lime-darker);
}

.background-lime-darkest {
  background-color: var(--color-lime-darkest);
}

.background-green-lightest {
  background-color: var(--color-green-lightest);
}

.background-green-lighter {
  background-color: var(--color-green-lighter);
}

.background-green-light {
  background-color: var(--color-green-light);
}

.background-green {
  background-color: var(--color-green);
}

.background-green-dark {
  background-color: var(--color-green-dark);
}

.background-green-darker {
  background-color: var(--color-green-darker);
}

.background-green-darkest {
  background-color: var(--color-green-darkest);
}

.background-teal-lightest {
  background-color: var(--color-teal-lightest);
}

.background-teal-lighter {
  background-color: var(--color-teal-lighter);
}

.background-teal-light {
  background-color: var(--color-teal-light);
}

.background-teal {
  background-color: var(--color-teal);
}

.background-teal-dark {
  background-color: var(--color-teal-dark);
}

.background-teal-darker {
  background-color: var(--color-teal-darker);
}

.background-teal-darkest {
  background-color: var(--color-teal-darkest);
}

.background-cyan-lightest {
  background-color: var(--color-cyan-lightest);
}

.background-cyan-lighter {
  background-color: var(--color-cyan-lighter);
}

.background-cyan-light {
  background-color: var(--color-cyan-light);
}

.background-cyan {
  background-color: var(--color-cyan);
}

.background-cyan-dark {
  background-color: var(--color-cyan-dark);
}

.background-cyan-darker {
  background-color: var(--color-cyan-darker);
}

.background-cyan-darkest {
  background-color: var(--color-cyan-darkest);
}

.background-blue-lightest {
  background-color: var(--color-blue-lightest);
}

.background-blue-lighter {
  background-color: var(--color-blue-lighter);
}

.background-blue-light {
  background-color: var(--color-blue-light);
}

.background-blue {
  background-color: var(--color-blue);
}

.background-blue-dark {
  background-color: var(--color-blue-dark);
}

.background-blue-darker {
  background-color: var(--color-blue-darker);
}

.background-blue-darkest {
  background-color: var(--color-blue-darkest);
}

.background-indigo-lightest {
  background-color: var(--color-indigo-lightest);
}

.background-indigo-lighter {
  background-color: var(--color-indigo-lighter);
}

.background-indigo-light {
  background-color: var(--color-indigo-light);
}

.background-indigo {
  background-color: var(--color-indigo);
}

.background-indigo-dark {
  background-color: var(--color-indigo-dark);
}

.background-indigo-darker {
  background-color: var(--color-indigo-darker);
}

.background-indigo-darkest {
  background-color: var(--color-indigo-darkest);
}

.background-violet-lightest {
  background-color: var(--color-violet-lightest);
}

.background-violet-lighter {
  background-color: var(--color-violet-lighter);
}

.background-violet-light {
  background-color: var(--color-violet-light);
}

.background-violet {
  background-color: var(--color-violet);
}

.background-violet-dark {
  background-color: var(--color-violet-dark);
}

.background-violet-darker {
  background-color: var(--color-violet-darker);
}

.background-violet-darkest {
  background-color: var(--color-violet-darkest);
}

.background-grape-lightest {
  background-color: var(--color-grape-lightest);
}

.background-grape-lighter {
  background-color: var(--color-grape-lighter);
}

.background-grape-light {
  background-color: var(--color-grape-light);
}

.background-grape {
  background-color: var(--color-grape);
}

.background-grape-dark {
  background-color: var(--color-grape-dark);
}

.background-grape-darker {
  background-color: var(--color-grape-darker);
}

.background-grape-darkest {
  background-color: var(--color-grape-darkest);
}

.background-pink-lightest {
  background-color: var(--color-pink-lightest);
}

.background-pink-lighter {
  background-color: var(--color-pink-lighter);
}

.background-pink-light {
  background-color: var(--color-pink-light);
}

.background-pink {
  background-color: var(--color-pink);
}

.background-pink-dark {
  background-color: var(--color-pink-dark);
}

.background-pink-darker {
  background-color: var(--color-pink-darker);
}

.background-pink-darkest {
  background-color: var(--color-pink-darkest);
}

.text-red-lightest {
  color: var(--color-red-lightest);
}

.text-red-lighter {
  color: var(--color-red-lighter);
}

.text-red-light {
  color: var(--color-red-light);
}

.text-red {
  color: var(--color-red);
}

.text-red-dark {
  color: var(--color-red-dark);
}

.text-red-darker {
  color: var(--color-red-darker);
}

.text-red-darkest {
  color: var(--color-red-darkest);
}

.text-orange-lightest {
  color: var(--color-orange-lightest);
}

.text-orange-lighter {
  color: var(--color-orange-lighter);
}

.text-orange-light {
  color: var(--color-orange-light);
}

.text-orange {
  color: var(--color-orange);
}

.text-orange-dark {
  color: var(--color-orange-dark);
}

.text-orange-darker {
  color: var(--color-orange-darker);
}

.text-orange-darkest {
  color: var(--color-orange-darkest);
}

.text-yellow-lightest {
  color: var(--color-yellow-lightest);
}

.text-yellow-lighter {
  color: var(--color-yellow-lighter);
}

.text-yellow-light {
  color: var(--color-yellow-light);
}

.text-yellow {
  color: var(--color-yellow);
}

.text-yellow-dark {
  color: var(--color-yellow-dark);
}

.text-yellow-darker {
  color: var(--color-yellow-darker);
}

.text-yellow-darkest {
  color: var(--color-yellow-darkest);
}

.text-lime-lightest {
  color: var(--color-lime-lightest);
}

.text-lime-lighter {
  color: var(--color-lime-lighter);
}

.text-lime-light {
  color: var(--color-lime-light);
}

.text-lime {
  color: var(--color-lime);
}

.text-lime-dark {
  color: var(--color-lime-dark);
}

.text-lime-darker {
  color: var(--color-lime-darker);
}

.text-lime-darkest {
  color: var(--color-lime-darkest);
}

.text-green-lightest {
  color: var(--color-green-lightest);
}

.text-green-lighter {
  color: var(--color-green-lighter);
}

.text-green-light {
  color: var(--color-green-light);
}

.text-green {
  color: var(--color-green);
}

.text-green-dark {
  color: var(--color-green-dark);
}

.text-green-darker {
  color: var(--color-green-darker);
}

.text-green-darkest {
  color: var(--color-green-darkest);
}

.text-teal-lightest {
  color: var(--color-teal-lightest);
}

.text-teal-lighter {
  color: var(--color-teal-lighter);
}

.text-teal-light {
  color: var(--color-teal-light);
}

.text-teal {
  color: var(--color-teal);
}

.text-teal-dark {
  color: var(--color-teal-dark);
}

.text-teal-darker {
  color: var(--color-teal-darker);
}

.text-teal-darkest {
  color: var(--color-teal-darkest);
}

.text-cyan-lightest {
  color: var(--color-cyan-lightest);
}

.text-cyan-lighter {
  color: var(--color-cyan-lighter);
}

.text-cyan-light {
  color: var(--color-cyan-light);
}

.text-cyan {
  color: var(--color-cyan);
}

.text-cyan-dark {
  color: var(--color-cyan-dark);
}

.text-cyan-darker {
  color: var(--color-cyan-darker);
}

.text-cyan-darkest {
  color: var(--color-cyan-darkest);
}

.text-blue-lightest {
  color: var(--color-blue-lightest);
}

.text-blue-lighter {
  color: var(--color-blue-lighter);
}

.text-blue-light {
  color: var(--color-blue-light);
}

.text-blue {
  color: var(--color-blue);
}

.text-blue-dark {
  color: var(--color-blue-dark);
}

.text-blue-darker {
  color: var(--color-blue-darker);
}

.text-blue-darkest {
  color: var(--color-blue-darkest);
}

.text-indigo-lightest {
  color: var(--color-indigo-lightest);
}

.text-indigo-lighter {
  color: var(--color-indigo-lighter);
}

.text-indigo-light {
  color: var(--color-indigo-light);
}

.text-indigo {
  color: var(--color-indigo);
}

.text-indigo-dark {
  color: var(--color-indigo-dark);
}

.text-indigo-darker {
  color: var(--color-indigo-darker);
}

.text-indigo-darkest {
  color: var(--color-indigo-darkest);
}

.text-violet-lightest {
  color: var(--color-violet-lightest);
}

.text-violet-lighter {
  color: var(--color-violet-lighter);
}

.text-violet-light {
  color: var(--color-violet-light);
}

.text-violet {
  color: var(--color-violet);
}

.text-violet-dark {
  color: var(--color-violet-dark);
}

.text-violet-darker {
  color: var(--color-violet-darker);
}

.text-violet-darkest {
  color: var(--color-violet-darkest);
}

.text-grape-lightest {
  color: var(--color-grape-lightest);
}

.text-grape-lighter {
  color: var(--color-grape-lighter);
}

.text-grape-light {
  color: var(--color-grape-light);
}

.text-grape {
  color: var(--color-grape);
}

.text-grape-dark {
  color: var(--color-grape-dark);
}

.text-grape-darker {
  color: var(--color-grape-darker);
}

.text-grape-darkest {
  color: var(--color-grape-darkest);
}

.text-pink-lightest {
  color: var(--color-pink-lightest);
}

.text-pink-lighter {
  color: var(--color-pink-lighter);
}

.text-pink-light {
  color: var(--color-pink-light);
}

.text-pink {
  color: var(--color-pink);
}

.text-pink-dark {
  color: var(--color-pink-dark);
}

.text-pink-darker {
  color: var(--color-pink-darker);
}

.text-pink-darkest {
  color: var(--color-pink-darkest);
}

/*! Usefull - Colors Semantic */
.background-error-light {
  background-color: var(--color-error-light);
}

.background-error {
  background-color: var(--color-error);
}

.background-warning-light {
  background-color: var(--color-warning-light);
}

.background-warning {
  background-color: var(--color-warning);
}

.background-success-light {
  background-color: var(--color-success-light);
}

.background-success {
  background-color: var(--color-success);
}

.background-info-light {
  background-color: var(--color-info-light);
}

.background-info {
  background-color: var(--color-info);
}

.text-error-light {
  color: var(--color-error-light);
}

.text-error {
  color: var(--color-error);
}

.text-warning-light {
  color: var(--color-warning-light);
}

.text-warning {
  color: var(--color-warning);
}

.text-success-light {
  color: var(--color-success-light);
}

.text-success {
  color: var(--color-success);
}

.text-info-light {
  color: var(--color-info-light);
}

.text-info {
  color: var(--color-info);
}

/*! Usefull - Colors Other */
.background-transparent,
.ie11 .background-transparent {
  background-color: transparent;
}

/*! Usefull - Text */
.break-word {
  word-break: break-word;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.white-space-nowrap {
  white-space: nowrap;
}

.is-rtl [align=right],
.is-rtl .text-align-right {
  text-align: left;
}

.is-rtl [align=left],
.is-rtl .text-align-left {
  text-align: right;
}

/*! Usefull - Typography */
.font-size-base {
  font-size: var(--font-size-base);
}

.font-size-s {
  font-size: var(--font-size-s);
}

.font-size-xs {
  font-size: var(--font-size-xs);
}

.font-light {
  font-weight: var(--font-light);
}

.font-regular {
  font-weight: var(--font-regular);
}

.font-semi-bold {
  font-weight: var(--font-semi-bold);
}

.font-bold {
  font-weight: var(--font-bold);
}

.bold {
  font-weight: var(--font-bold);
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-ellipsis {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*! Usefull - Border Size */
.border-size-none {
  border-width: var(--border-size-none);
}

.border-size-s {
  border: var(--border-size-s) solid currentColor;
}

.border-size-m {
  border: var(--border-size-m) solid currentColor;
}

.border-size-l {
  border: var(--border-size-l) solid currentColor;
}

/*! Usefull - Border Radius */
.border-radius-none {
  border-radius: var(--border-radius-none);
}

.border-radius-top-left-none {
  border-top-left-radius: var(--border-radius-none);
}

.border-radius-top-right-none {
  border-top-right-radius: var(--border-radius-none);
}

.border-radius-bottom-right-none {
  border-bottom-right-radius: var(--border-radius-none);
}

.border-radius-bottom-left-none {
  border-bottom-left-radius: var(--border-radius-none);
}

.border-radius-top-none {
  border-top-left-radius: var(--border-radius-none);
  border-top-right-radius: var(--border-radius-none);
}

.border-radius-top-none {
  border-top-right-radius: var(--border-radius-none);
  border-top-left-radius: var(--border-radius-none);
}

.border-radius-bottom-none {
  border-bottom-left-radius: var(--border-radius-none);
  border-bottom-right-radius: var(--border-radius-none);
}

.border-radius-bottom-none {
  border-bottom-right-radius: var(--border-radius-none);
  border-bottom-left-radius: var(--border-radius-none);
}

.border-radius-soft {
  border-radius: var(--border-radius-soft);
}

.border-radius-top-left-soft {
  border-top-left-radius: var(--border-radius-soft);
}

.border-radius-top-right-soft {
  border-top-right-radius: var(--border-radius-soft);
}

.border-radius-bottom-right-soft {
  border-bottom-right-radius: var(--border-radius-soft);
}

.border-radius-bottom-left-soft {
  border-bottom-left-radius: var(--border-radius-soft);
}

.border-radius-top-soft {
  border-top-left-radius: var(--border-radius-soft);
  border-top-right-radius: var(--border-radius-soft);
}

.border-radius-top-soft {
  border-top-right-radius: var(--border-radius-soft);
  border-top-left-radius: var(--border-radius-soft);
}

.border-radius-bottom-soft {
  border-bottom-left-radius: var(--border-radius-soft);
  border-bottom-right-radius: var(--border-radius-soft);
}

.border-radius-bottom-soft {
  border-bottom-right-radius: var(--border-radius-soft);
  border-bottom-left-radius: var(--border-radius-soft);
}

.border-radius-rounded {
  border-radius: var(--border-radius-rounded);
}

.border-radius-top-left-rounded {
  border-top-left-radius: var(--border-radius-rounded);
}

.border-radius-top-right-rounded {
  border-top-right-radius: var(--border-radius-rounded);
}

.border-radius-bottom-right-rounded {
  border-bottom-right-radius: var(--border-radius-rounded);
}

.border-radius-bottom-left-rounded {
  border-bottom-left-radius: var(--border-radius-rounded);
}

.border-radius-top-rounded {
  border-top-left-radius: var(--border-radius-rounded);
  border-top-right-radius: var(--border-radius-rounded);
}

.border-radius-top-rounded {
  border-top-right-radius: var(--border-radius-rounded);
  border-top-left-radius: var(--border-radius-rounded);
}

.border-radius-bottom-rounded {
  border-bottom-left-radius: var(--border-radius-rounded);
  border-bottom-right-radius: var(--border-radius-rounded);
}

.border-radius-bottom-rounded {
  border-bottom-right-radius: var(--border-radius-rounded);
  border-bottom-left-radius: var(--border-radius-rounded);
}

.border-radius-circle {
  border-radius: var(--border-radius-circle);
}

.border-radius-top-left-circle {
  border-top-left-radius: var(--border-radius-circle);
}

.border-radius-top-right-circle {
  border-top-right-radius: var(--border-radius-circle);
}

.border-radius-bottom-right-circle {
  border-bottom-right-radius: var(--border-radius-circle);
}

.border-radius-bottom-left-circle {
  border-bottom-left-radius: var(--border-radius-circle);
}

.border-radius-top-circle {
  border-top-left-radius: var(--border-radius-circle);
  border-top-right-radius: var(--border-radius-circle);
}

.border-radius-top-circle {
  border-top-right-radius: var(--border-radius-circle);
  border-top-left-radius: var(--border-radius-circle);
}

.border-radius-bottom-circle {
  border-bottom-left-radius: var(--border-radius-circle);
  border-bottom-right-radius: var(--border-radius-circle);
}

.border-radius-bottom-circle {
  border-bottom-right-radius: var(--border-radius-circle);
  border-bottom-left-radius: var(--border-radius-circle);
}

/*! Usefull - Margin */
.margin-none {
  margin: var(--space-none);
}

.margin-top-none {
  margin-top: var(--space-none);
}

.margin-right-none {
  margin-right: var(--space-none);
}

.margin-bottom-none {
  margin-bottom: var(--space-none);
}

.margin-left-none {
  margin-left: var(--space-none);
}

.margin-x-none {
  margin-left: var(--space-none);
  margin-right: var(--space-none);
}

.margin-y-none {
  margin-bottom: var(--space-none);
  margin-top: var(--space-none);
}

.margin-xs {
  margin: var(--space-xs);
}

.margin-top-xs {
  margin-top: var(--space-xs);
}

.margin-right-xs {
  margin-right: var(--space-xs);
}

.margin-bottom-xs {
  margin-bottom: var(--space-xs);
}

.margin-left-xs {
  margin-left: var(--space-xs);
}

.margin-x-xs {
  margin-left: var(--space-xs);
  margin-right: var(--space-xs);
}

.margin-y-xs {
  margin-bottom: var(--space-xs);
  margin-top: var(--space-xs);
}

.margin-s {
  margin: var(--space-s);
}

.margin-top-s {
  margin-top: var(--space-s);
}

.margin-right-s {
  margin-right: var(--space-s);
}

.margin-bottom-s {
  margin-bottom: var(--space-s);
}

.margin-left-s {
  margin-left: var(--space-s);
}

.margin-x-s {
  margin-left: var(--space-s);
  margin-right: var(--space-s);
}

.margin-y-s {
  margin-bottom: var(--space-s);
  margin-top: var(--space-s);
}

.margin-base {
  margin: var(--space-base);
}

.margin-top-base {
  margin-top: var(--space-base);
}

.margin-right-base {
  margin-right: var(--space-base);
}

.margin-bottom-base {
  margin-bottom: var(--space-base);
}

.margin-left-base {
  margin-left: var(--space-base);
}

.margin-x-base {
  margin-left: var(--space-base);
  margin-right: var(--space-base);
}

.margin-y-base {
  margin-bottom: var(--space-base);
  margin-top: var(--space-base);
}

.margin-m {
  margin: var(--space-m);
}

.margin-top-m {
  margin-top: var(--space-m);
}

.margin-right-m {
  margin-right: var(--space-m);
}

.margin-bottom-m {
  margin-bottom: var(--space-m);
}

.margin-left-m {
  margin-left: var(--space-m);
}

.margin-x-m {
  margin-left: var(--space-m);
  margin-right: var(--space-m);
}

.margin-y-m {
  margin-bottom: var(--space-m);
  margin-top: var(--space-m);
}

.margin-l {
  margin: var(--space-l);
}

.margin-top-l {
  margin-top: var(--space-l);
}

.margin-right-l {
  margin-right: var(--space-l);
}

.margin-bottom-l {
  margin-bottom: var(--space-l);
}

.margin-left-l {
  margin-left: var(--space-l);
}

.margin-x-l {
  margin-left: var(--space-l);
  margin-right: var(--space-l);
}

.margin-y-l {
  margin-bottom: var(--space-l);
  margin-top: var(--space-l);
}

.margin-xl {
  margin: var(--space-xl);
}

.margin-top-xl {
  margin-top: var(--space-xl);
}

.margin-right-xl {
  margin-right: var(--space-xl);
}

.margin-bottom-xl {
  margin-bottom: var(--space-xl);
}

.margin-left-xl {
  margin-left: var(--space-xl);
}

.margin-x-xl {
  margin-left: var(--space-xl);
  margin-right: var(--space-xl);
}

.margin-y-xl {
  margin-bottom: var(--space-xl);
  margin-top: var(--space-xl);
}

.margin-xxl {
  margin: var(--space-xxl);
}

.margin-top-xxl {
  margin-top: var(--space-xxl);
}

.margin-right-xxl {
  margin-right: var(--space-xxl);
}

.margin-bottom-xxl {
  margin-bottom: var(--space-xxl);
}

.margin-left-xxl {
  margin-left: var(--space-xxl);
}

.margin-x-xxl {
  margin-left: var(--space-xxl);
  margin-right: var(--space-xxl);
}

.margin-y-xxl {
  margin-bottom: var(--space-xxl);
  margin-top: var(--space-xxl);
}

.margin-auto {
  margin: 0 auto;
}

/*! Usefull - Padding */
.padding-none {
  padding: var(--space-none);
}

.padding-top-none {
  padding-top: var(--space-none);
}

.padding-right-none {
  padding-right: var(--space-none);
}

.padding-bottom-none {
  padding-bottom: var(--space-none);
}

.padding-left-none {
  padding-left: var(--space-none);
}

.padding-x-none {
  padding-left: var(--space-none);
  padding-right: var(--space-none);
}

.padding-y-none {
  padding-bottom: var(--space-none);
  padding-top: var(--space-none);
}

.padding-xs {
  padding: var(--space-xs);
}

.padding-top-xs {
  padding-top: var(--space-xs);
}

.padding-right-xs {
  padding-right: var(--space-xs);
}

.padding-bottom-xs {
  padding-bottom: var(--space-xs);
}

.padding-left-xs {
  padding-left: var(--space-xs);
}

.padding-x-xs {
  padding-left: var(--space-xs);
  padding-right: var(--space-xs);
}

.padding-y-xs {
  padding-bottom: var(--space-xs);
  padding-top: var(--space-xs);
}

.padding-s {
  padding: var(--space-s);
}

.padding-top-s {
  padding-top: var(--space-s);
}

.padding-right-s {
  padding-right: var(--space-s);
}

.padding-bottom-s {
  padding-bottom: var(--space-s);
}

.padding-left-s {
  padding-left: var(--space-s);
}

.padding-x-s {
  padding-left: var(--space-s);
  padding-right: var(--space-s);
}

.padding-y-s {
  padding-bottom: var(--space-s);
  padding-top: var(--space-s);
}

.padding-base {
  padding: var(--space-base);
}

.padding-top-base {
  padding-top: var(--space-base);
}

.padding-right-base {
  padding-right: var(--space-base);
}

.padding-bottom-base {
  padding-bottom: var(--space-base);
}

.padding-left-base {
  padding-left: var(--space-base);
}

.padding-x-base {
  padding-left: var(--space-base);
  padding-right: var(--space-base);
}

.padding-y-base {
  padding-bottom: var(--space-base);
  padding-top: var(--space-base);
}

.padding-m {
  padding: var(--space-m);
}

.padding-top-m {
  padding-top: var(--space-m);
}

.padding-right-m {
  padding-right: var(--space-m);
}

.padding-bottom-m {
  padding-bottom: var(--space-m);
}

.padding-left-m {
  padding-left: var(--space-m);
}

.padding-x-m {
  padding-left: var(--space-m);
  padding-right: var(--space-m);
}

.padding-y-m {
  padding-bottom: var(--space-m);
  padding-top: var(--space-m);
}

.padding-l {
  padding: var(--space-l);
}

.padding-top-l {
  padding-top: var(--space-l);
}

.padding-right-l {
  padding-right: var(--space-l);
}

.padding-bottom-l {
  padding-bottom: var(--space-l);
}

.padding-left-l {
  padding-left: var(--space-l);
}

.padding-x-l {
  padding-left: var(--space-l);
  padding-right: var(--space-l);
}

.padding-y-l {
  padding-bottom: var(--space-l);
  padding-top: var(--space-l);
}

.padding-xl {
  padding: var(--space-xl);
}

.padding-top-xl {
  padding-top: var(--space-xl);
}

.padding-right-xl {
  padding-right: var(--space-xl);
}

.padding-bottom-xl {
  padding-bottom: var(--space-xl);
}

.padding-left-xl {
  padding-left: var(--space-xl);
}

.padding-x-xl {
  padding-left: var(--space-xl);
  padding-right: var(--space-xl);
}

.padding-y-xl {
  padding-bottom: var(--space-xl);
  padding-top: var(--space-xl);
}

.padding-xxl {
  padding: var(--space-xxl);
}

.padding-top-xxl {
  padding-top: var(--space-xxl);
}

.padding-right-xxl {
  padding-right: var(--space-xxl);
}

.padding-bottom-xxl {
  padding-bottom: var(--space-xxl);
}

.padding-left-xxl {
  padding-left: var(--space-xxl);
}

.padding-x-xxl {
  padding-left: var(--space-xxl);
  padding-right: var(--space-xxl);
}

.padding-y-xxl {
  padding-bottom: var(--space-xxl);
  padding-top: var(--space-xxl);
}

.padding-auto {
  padding: 0 auto;
}

/*! Usefull - Shadow */
.shadow-none {
  -webkit-box-shadow: var(--shadow-none);
  box-shadow: var(--shadow-none);
}

.shadow-xs {
  -webkit-box-shadow: var(--shadow-xs);
  box-shadow: var(--shadow-xs);
}

.shadow-s {
  -webkit-box-shadow: var(--shadow-s);
  box-shadow: var(--shadow-s);
}

.shadow-m {
  -webkit-box-shadow: var(--shadow-m);
  box-shadow: var(--shadow-m);
}

.shadow-l {
  -webkit-box-shadow: var(--shadow-l);
  box-shadow: var(--shadow-l);
}

.shadow-xl {
  -webkit-box-shadow: var(--shadow-xl);
  box-shadow: var(--shadow-xl);
}

/*! Usefull - Box Width */
.full-width {
  width: 100%;
}

.full-width-vw {
  width: 100vw;
}

.half-width {
  width: 50%;
}

.half-width-vw {
  width: 50vw;
}

/*! Usefull - Box Height */
.full-height {
  height: 100%;
}

.full-height-vh {
  height: 100vh;
}

.full-height-minus-header {
  height: calc(100vh - var(--header-size));
}

.full-height-minus-header {}

.half-height {
  height: 50%;
}

.half-height-vh {
  height: 50vh;
}

.half-height-vh {}

.auto-height {
  height: auto;
}

/*! Usefull - Display */
.display-block {
  display: block;
}

.display-contents {
  display: contents;
}

/*! Usefull - Display Flex */
.display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flex2 {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.flex3 {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

.flex-direction-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-direction-column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.flex-direction-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.flex-direction-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.justify-content-flex-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.justify-content-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.justify-content-space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/*! Usefull - Display Align */
.align-items-baseline {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.align-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.align-items-flex-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.align-items-flex-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.align-items-initial {
  -webkit-box-align: initial;
  -ms-flex-align: initial;
  align-items: initial;
}

.top-left {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.top-center {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.top-right {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.center-left {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.center-right {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.bottom-left {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.bottom-center {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.bottom-right {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

/*! Usefull - Overflow */
.overflow-hidden {
  overflow: hidden;
}

.overflow-hidden {}

.overflow-horizontal {
  overflow-x: auto;
}

.overflow-horizontal {}

.overflow-vertical {
  overflow-y: auto;
}

.overflow-vertical {}

/*! Usefull - Visibility */
.ph:empty {
  display: none;
}

.hidden {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar:hover {
  cursor: all-scroll;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-on-service-studio {}

/*! Usefull - Position */
.position-relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
}

/*! Usefull - Position Absolute */
.position-absolute {
  position: absolute;
}

.absolute-top {
  top: 0;
}

.absolute-top-right {
  right: 0;
  top: 0;
}

.absolute-top-left {
  left: 0;
  top: 0;
}

.absolute-top-plus-header {
  top: calc(var(--header-size) + var(--os-safe-area-top));
}

.absolute-right {
  right: 0;
}

.absolute-bottom {
  bottom: 0;
}

.absolute-bottom-right {
  bottom: 0;
  right: 0;
}

.absolute-bottom-left {
  bottom: 0;
  left: 0;
}

.absolute-bottom.absolute-center {
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.absolute-left {
  left: 0;
}

.absolute-center {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.absolute-center-top {
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.absolute-center-right {
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.absolute-center-bottom {
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.absolute-center-left {
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}