<app-header></app-header>
<ion-content [fullscreen]="true">
  <app-product-list [isApp]="false"></app-product-list>
</ion-content>
<!--<ion-toolbar class="bottom-bar ion-safe-bottom">
  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col routerLink="/home" ><ion-icon name="home-outline" routerLinkActive="active-link"></ion-icon></ion-col>
      <ion-col routerLink="/promotions" ><ion-icon name="library-outline" routerLinkActive="active-link"></ion-icon></ion-col>
      <ion-col routerLink="/search"><ion-icon name="search-outline"  routerLinkActive="active-link"></ion-icon></ion-col>
      <ion-col routerLink="/cart"><ion-icon name="cart-outline"  routerLinkActive="active-link"></ion-icon></ion-col>
      <ion-col routerLink="/more"><ion-icon name="ellipsis-horizontal-outline" routerLinkActive="active-link"></ion-icon></ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>-->