<ion-toolbar color="primary" style="padding-top:var(--ion-safe-area-top)">
  <ion-title class="ion-text-center">
    <ion-img src="../../../assets/images/ECP_Mobile_Assets.plus_logo_spash.svg" style="width: 103px; margin: auto;"></ion-img>
  </ion-title>
  <ion-buttons slot="end">
    <ion-icon name="qr-code-outline" class="header-qrcode"></ion-icon>
  </ion-buttons>
</ion-toolbar>



<ion-content [fullscreen]="true">
  <ion-toolbar color="primary">
    <div class="display-flex">
    <ion-searchbar animated="true" show-clear-button="focus" class="searchbar-home"></ion-searchbar>
  </div>
  </ion-toolbar>
</ion-content>
<ion-toolbar class="bottom-bar ion-safe-bottom">
  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col routerLink="/home" ><ion-icon name="home-outline" routerLinkActive="active-link"></ion-icon></ion-col>
      <ion-col routerLink="/promotions" ><ion-icon name="library-outline" routerLinkActive="active-link"></ion-icon></ion-col>
      <ion-col routerLink="/search"><ion-icon name="search-outline"  routerLinkActive="active-link"></ion-icon></ion-col>
      <ion-col routerLink="/cart"><ion-icon name="cart-outline"  routerLinkActive="active-link"></ion-icon></ion-col>
      <ion-col routerLink="/more"><ion-icon name="ellipsis-horizontal-outline" routerLinkActive="active-link"></ion-icon></ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>